/* frontend/src/components/LandingPage/LandingPage.css */

/* Container styling for the landing page */
.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Full height of the viewport */
    /* height: 100vh; */
    /* height: calc(100vh - 70px); */
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Add filter effect to darken the background for text contrast */
    background-color: rgba(0, 0, 0, 0.5);
    /* margin-top: -70px; */
  }
  
  /* Header styling */
  .landing-page-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Adding subtle text shadow for better readability */
  }
  
  /* Styling for the "Get Started" button */
  .get-started-button {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
  }
  
  /* Hover effects for "Get Started" button */
  .get-started-button:hover {
    background-color: white;
    color: #333;
    transform: scale(1.05); /* Slightly enlarges the button */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .landing-page-container h1 {
      font-size: 2.5rem; /* Slightly smaller font for smaller screens */
    }
    
    .get-started-button {
      font-size: 1rem;
      padding: 8px 20px; /* Smaller padding on smaller screens */
    }
  }
  