/* frontend/src/components/Navigation/Navigation.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 20.5px 50px;
    color: white;
}

.navbar .left-navbar {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .left-navbar svg {
    margin-right: 10px;
}

/* Search bar styling */
.navbar .search-bar input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 200px;
    font-size: 1rem;
}

.navbar .search-bar input:focus {
    border-color: #1abc9c;
    outline: none;
}

/* Profile section styling */
.navbar .right-navbar {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* justify-content: flex-start; */
    /* margin-top: 10px; */
}

.right-navbar-pofile-menu {
    margin-top: 5px;
}

/* Links styling */
.navbar .right-navbar > * {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-left: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .right-navbar > *:hover {
    color: #1abc9c;
}

/* Profile name and icon */
.navbar .right-navbar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar .right-navbar span {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

/* Profile hover effect */
.navbar .right-navbar:hover {
    color: #1abc9c;
}